:root {
  --color-background: #202732;
  --color-background2: #374455;
  --color-primary: #fec600;
  --color-primary-light: #e5e5e5;
  --color-primary-light2: #b6b5b5;
}

::selection {
  background-color: var(--color-background);
  color: var(--color-primary);
}
::-webkit-input-placeholder { /* Edge */
  color: var(--color-primary-light2);
}

:-ms-input-placeholder { /* Internet Explorer */
  color: var(--color-primary-light2);
}

::placeholder {
  color: var(--color-primary-light2);
}

:focus{
  outline: none;
}

html, body{
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #101010;
  color: var(--color-primary);
  font-weight: 400;
  background-image: url(./img/search-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
body::-webkit-scrollbar-track {
  background: var(--color-background);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-light) ;
  border-radius: 0px;
}

input{
  color: var(--color-primary-light);
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a{
  color: var(--color-primary-light);
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

#search-wrapper{
  display: block;
  margin: auto;
  padding: 25px;
}

.nav{
  display: flex;
  justify-content: left;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color-primary);
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav ul li{
  display: inline;
}

.nav ul li:not(:first-child) {
  margin: auto 20px;
}
.nav ul li a{
  color: #ffffff;
  text-decoration: none;
}
.nav ul li a.active{
  color: var(--color-primary);
}

.search-container{
  margin-top: 50px;
}

.search-container, .content:not(.e){
  max-width: 600px;
}

.search-container form{
  display: flex;
  padding: 10px 20px;
  height: 50px;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  border-radius: 50px;
  align-items: center;
}
.search-container form label{
  width: calc(100% - 78%);
}
.search-container form label:after{
  content: "";
  position: absolute;
  width: 1.5px;
  height: 18px;
  margin-top: 2px;
  margin-left: 10px;
  background-color: var(--color-primary);
}

.search-container form input{
  width: calc(100% - 30%);
  background-color: transparent;
  border: none;
  margin-left: 15px;
}
.search-container form button{
  width: calc(100% - 92%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.search-container form button img{
  width: 55%;
}

.content{
  margin-top: 50px;
}

.content .label{
  display: inline-block;
  color: #FFF;
  font-size: 13px;
  cursor: pointer;
  border: 1.5px solid var(--color-primary);
  border-radius: 5px;
  padding:5px 15px;
  margin-bottom: 10px;
  margin-right: 15px;
}

.content label.true{
  background-color: var(--color-primary);
  color: #000;
}

.carousel-dots li button:before{
  color: #08EA1E  !important;
}

.btn-submit{
  background-color: var(--color-primary) !important;
  color: var(--color-background) !important;
  padding: 6px 26px !important;
  border-radius: 16px !important;
}

@media(max-width:768px){
  .search-container form label{
    display: block;
    font-size: 13px;
    width: 40%;
    padding-top: 7px;
  }
  .search-container form input{
    width: calc(100% - 30%);
  }
  .search-container form button{
    width: calc(100% - 85%);
  }
}